<div class="main-head">
  <div class="container">
  <div class="d-flex row justify-content-center align-items-center">
    <div class="col-lg-6 col-md-6">
      <h1 class="home-header" style="text-align:right;">Rainbow heroes</h1>
      <p class="home-para" style="color:#fff; text-align: right;">The RAINBOW HEROES NFT will produce a collection of 5000 pieces with each piece of their DNA shared and protected via the Solana or Ethereum Blockchain.<br><br>
      The Metaverse is attacked many times by evil monsters, ruggers, secret agents,
governments, lizards, and creatures. It&#39;s time for Superheroes to fight against the demons
and bring back the piece to the Metaverse.
<br><br>

The RAINBOW HEROES NFT are the answers to your prey. We will produce a collection of
5000 pieces, with each part of their DNA shared and protected via the Solana Blockchain.
<br>
</p>

    </div>
    <div class="col-lg-6 col-md-6">
      <%= image_tag "rainbows.gif", class: "video_home" %>
    </div>
  </div>
  </div>
</div>




<div  id="roadmap" class="roadmap container">
  <h1 class="askfont">Roadmap</h1>
  <ul>
    <li style="--accent-color:#ED3833;">
        <div class="date">Phase 1</div>
        <div class="title">START OF THE PROJECT - CREATION OF THE RAINBOW HEROES</div>
        <div class="descr">Each Of The 5000 Rare And Majestic NFT Pieces Was Created With The Huge Imagination
And Detail That Our Artists Created. Each Rainbow Hero is created with great care,
dedication, and love for the details that make the good become extraordinary. All the
features, strengths and superpowers are unique and authentic. Each Rainbow Hero will
scare all anti-heroes and evil creatures of the Metaverse.</div>
    </li>
    <li style="--accent-color:#F1823B;">
        <div class="date">Phase 2</div>
        <div class="title">THE RAINBOW HEROES START TO CONQUER THE METAVERSE</div>
        <div class="descr">With their unique strengths, look, and superpowers, demand for the Rainbow Heroes will be
overwhelming, but we choose to create only those with their extreme quality. Only 5000
wise investors will be able to own Rainbow Heroes even though we know that our
community will attract millions of members. Whitelist will be reserved only for those who
share the same values as we do. Mint wll be the best ever seen on NFT market.</div>
    </li>
    <li style="--accent-color:#F8C947;">
        <div class="date">Phase 3</div>
        <div class="title">THE SUPERPOWER RAINBOW HEROES</div>
        <div class="descr">With their unique strengths, look, and superpowers, demand for the Rainbow Heroes will be
overwhelming, but we choose to create only those with their extreme quality. Only 5000
wise investors will be able to own Rainbow Heroes even though we know that our
community will attract millions of members. Whitelist will be reserved only for those who
share the same values as we do. Mint wll be the best ever seen on NFT market.</div>
    </li>
    <li style="--accent-color:#71BD45;">
        <div class="date">Phase 4</div>
        <div class="title">GIVING POWER BACK TO THE WORLD</div>
        <div class="descr">Rainbow Heroes always look after their own. So we want to give back to the real heroes of
the Rainbow world with a large donation to help preserve their habitat in Kyiv/Ukraine. We
commit to share 15% of our profit to the different human rights associations. Our NFT
holders will have the power to choose where to make the donations through DAO
community.</div>
    </li>
    <li style="--accent-color:#0E5FE1;">
        <div class="date">Phase 5</div>
        <div class="title">HERO NETWORK</div>
        <div class="descr">Rainbow Heroes is an NFT collection, but it is also a strong community. We know how
powerful community can be when it is strong. We want everyone who has a YouTube,
Twitter, Instagram or Facebook account to be helped by the community. We will feature
those who have the most interesting projects and ideas. We will share their ideas and invest
money into promotion. You will be able to talk about your ideas and projects with other
international Rainbow Heroes Owners. It will turn into a truly (super)powerful network that
will promote community values. The whole world will be influenced by our work, and this
will bring value to each NFT and incredible profit over time to all Rainbow Heroes holders.</div>
    </li>
     <li style="--accent-color:#7B2B85;">
        <div class="date">Phase 6</div>
        <div class="title">MERCH</div>
        <div class="descr">We want this project to be more than just an NFT collection, it will become a real
community. For this, we will make merchandising, shirts and 3D arts. They will be reserved
only for the owners. The goal is to create a real exclusive community. You and only you can
wear it and express that you are part of this Rainbow Heroes community.</div>
    </li>
      <li style="--accent-color:#47017C;">
        <div class="date">Phase 7</div>
        <div class="title">RAINBOW HEROES START TO SHARE VALUES</div>
        <div class="descr">The growth in value is the result of working together, sharing ideas and voices about
Rainbow Heroes. We will share 20% of the profits in the secondary market with the owners
of Rainbow Heroes NFT forever. Payments to NFT owner accounts will be made once a
month for the previous month in which the profit was made.
We will invest 50% of the profit from the primary market and 20% of the secondary market
in marketing to promote and grow value of the entire collection.</div>
    </li>
  </ul>
</div>


<div class="discord-join">


</div>


<div id="faq" class="faqsec" style="margin: 0; padding:0;">
<div class="text-center">
    <h1 class="mt-5 mb-5 askfont" style="color:#fff; font-weight: bold;">FAQ</h1>
  </div>
  <section class="container my-5" id="maincontent">
    <section id="accordion">
      <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-17" aria-expanded="false" data-toggle="collapse" href="#faq-17" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3 rfa askfont" >
            WHAT IS AN NFT?
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-17" style="">
        <div class="card card-body border-0 p-0" style="background-color:#1B1B1B; box-shadow: none;">
          <p>NFT stands for &#39;non-fungible token. An NFT is basically data that is accounted for in a digital
ledger, and that data represents something specific and unique. An NFT can, for example,
represent a unique piece of art or a game token.</p>

        </div>
      </div>

      <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-18" aria-expanded="false" data-toggle="collapse" href="#faq-18" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3 ofa askfont">
           How Can I Buy a Rainbow Heroes NFT?
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-18" style="">
        <div class="card card-body border-0 p-0" style="background-color:#1B1B1B; box-shadow: none;">
          <p>You will be able to buy on our website when we launch. Join our discord to have more
information about our launch date.</p>

        </div>
      </div>

      <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-19" aria-expanded="false" data-toggle="collapse" href="#faq-19" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3 yfa askfont">
           WHAT DOES "MINT" MEAN?
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-19" style="">
        <div class="card card-body border-0 p-0" style="background-color:#1B1B1B; box-shadow: none;">
          <p>NFT Minting is the process by which your digital art or digital content becomes a part of the
Ethereum blockchain.</p>

        </div>
      </div>

      <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary  border-top" aria-controls="faq-20" aria-expanded="false" data-toggle="collapse" href="#faq-20" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3 gfa askfont">
            HOW MUCH DOES IT COST BUY ONE OF THE RAINBOW HEROES?
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-20">
        <div class="card card-body border-0 p-0" style="background-color:#1B1B1B; box-shadow: none;">
          <p>The Price of Minting and Sale will be announced soon.</p>

        </div>
      </div>

      <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary  border-top" aria-controls="faq-21" aria-expanded="false" data-toggle="collapse" href="#faq-21" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3 bfa askfont">
            I'M ABOUT TO TEAR THE METAVERSE APART — I WANT MY OWN RAINBOW HERO!
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-21">
        <div class="b-dark card card-body border-0 p-0" style="background-color:#1B1B1B; box-shadow: none;">
          <p>If you think you are ready to be accepted by the most powerful DAO the Metaverse has ever
known, now is the time to act. Leap into our official Discord Channel for exclusive offers and
inside information. Time is running out to own the finest RAINBOW NFTs the world has ever
known. Join us as we set out to claw through the Metaverse...</p>
        </div>
      </div>

    </section>
  </section>
</div>
