<div class="main-head">
  <div class="container d-flex row align-items-center justify-content-center ">
    <div class="col-lg-6">
      <h1 class="home-header">Rainbow heroes</h1>
      <p class="home-para">The RAINBOW HEROES NFT will produce a collection of 5000 pieces with each piece of their DNA shared and protected via the Solana or Ethereum Blockchain.
      BUY ON MAGIC EDEN (LINK BUTTON)</p>

    </div>
    <div class="col-lg-6">
      <%= video_tag "LOGOreveal.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "video_home" %>
    </div>

  </div>
</div>
